docker.enabled = true

params {
  multiVCF       = false
  multiVCF_index = false
  list_folder    = false
  multiVCF_table = false
  outdir = "./results"
  dict  = false
  fasta = false
  fai   = false
}


process {

  withName: SubsetPopVCF {
    container = "broadinstitute/gatk:4.1.3.0"
    cpus = 4
  }

  withName: RecodeID {
    container = "vandhanak/bcftools:1.3.1"
    cpus = 4
  }

  withName: GatherVCFs {
    // Keeping this following bit from nf-core for GatherVCFs too.
    // For unknown reasons, ConcatVCF sometimes fails with SIGPIPE
    // (exit code 141). Rerunning the process will usually work.
    errorStrategy = 'ignore'
    container = "broadinstitute/gatk:4.1.3.0"
    cpus = 4
  }

  withName: GetFrqCounts {
    container = "alliecreason/plink:1.90"
    cpus = 4
  }
    withName: GetPanelBase {
    container = "lifebitai/mtsgmftls:101"
    cpus = 4
  }
    withName: GetPopTables {
    container = "lifebitai/mtsgmftls:101"
    cpus = 4
  }
    withName: JoinPanel {
    container = "lifebitai/mtsgmftls:101"
    cpus = 4
  }
}