docker.enabled = true

params {
  multiVCF       = false
  multiVCF_index = false
  list_folder    = false
  multiVCF_table = false
  outdir = "./results"
  dict  = false
  fasta = false
  fai   = false
}


process {

  withName: SubsetPopVCF {
    cpus = 4
  }

  withName: RecodeID {
    cpus = 4
  }

  withName: GatherVCFs {
    // Keeping this following bit from nf-core for GatherVCFs too.
    // For unknown reasons, ConcatVCF sometimes fails with SIGPIPE
    // (exit code 141). Rerunning the process will usually work.
    errorStrategy = {task.exitStatus == 141 ? 'retry' : 'terminate'}
    cpus = 4
  }

  withName: GetFrqCounts {
    cpus = 4
  }
}