docker.enabled = true

params {
  multiVCF       = false
  multiVCF_index = false
  list_folder    = false
  multiVCF_table = false
  outdir = "./results"
  dict  = false
  fasta = false
  fai   = false
}

  withName: SubsetMultiVCF {
    memory = 2
  }

  withName: GatherVcfs {
    // Keeping this following bit from nf-core for GatherVcfs too.
    // For unknown reasons, ConcatVCF sometimes fails with SIGPIPE
    // (exit code 141). Rerunning the process will usually work.
    errorStrategy = {task.exitStatus == 141 ? 'retry' : 'terminate'}
    memory = 4
  }
     
  withName: PlinkFilterAndFreqCount {
     memory = 2
  }
